# =============== #
 
# Unity generated #
 
# =============== #
 
Temp/
 
Obj/
 
UnityGenerated/
 
Library/

Logs/

*.log
 
 
 
# ===================================== #
 
# Visual Studio / MonoDevelop generated #
 
# ===================================== #
 
ExportedObj/
 
*.svd
 
*.userprefs
 
*.csproj
 
*.pidb
 
*.suo
 
*.sln
 
*.user
 
*.unityproj
 
*.booproj
 
 
 
# ============ #
 
# OS generated #
 
# ============ #
 
.DS_Store
 
.DS_Store?
 
._*
 
.Spotlight-V100
 
.Trashes
 
Icon?
 
ehthumbs.db
 
Thumbs.db
 
GraphicsSettings.asset
 
ProjectSettings.asset
 
ProjectVersion.txt

*.log
Logs/shadercompiler-UnityShaderCompiler0.log
*.log
Logs/AssetImportWorker0-prev.log
Logs/ApiUpdaterCheck.txt
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-UnityShaderCompiler0.log
Logs/shadercompiler-UnityShaderCompiler14.log
Logs/shadercompiler-UnityShaderCompiler2.log
Logs/shadercompiler-UnityShaderCompiler4.log
Logs/AssetImportWorker1.log
Logs/AssetImportWorker0.log
